ul.ui.pagination.menu {
  padding-left: 0px;

  li > a {
    display: block;
    color: #333;
    padding: 11px 10px;
  }

  li.btn {
    padding: 0px;
    display: block;

    &.active {
      padding-top: 0px;
    }
  }
}

.ui.grid .row .column pre {
  padding: 0;
  margin: 0px 0px 5px 0px;
}
