@import '../../lib/less/variables.less';
.pattern-bg{
  background-image: url('../../../img/pattern-small.png') !important;
  background-repeat: repeat !important;
}
.home-section{
  padding: 8em 0 8em 0;
}
.header-wrap{
  min-height: 40em;
}
.header-magnyfying-glass{
  position: absolute;
  max-width:870px !important;
  right:0;
}
.text-highlight-color{
    color:red !important;
}
.ui.huge.header{
  font-family: 'Exo', sans-serif;
  color: #1F81C4;
  text-transform: uppercase;
}
.ui.medium.header{
  font-family: 'Exo', sans-serif;
  color: #1F81C4;
  font-size: 2em !important;
  text-transform: uppercase;
}
.header-text{
  font-family: 'Exo', sans-serif;
  color: #14142C;
  font-size: 3em;
  text-transform: uppercase;

}
.sub-header-text{
  font-family: 'Exo', sans-serif;
  color: #14142C;
  text-transform: uppercase;
}
.gigantic{
  font-size: 6em;
  line-height:.75em;
  white-space: nowrap;
}
@media all and (min-width: @desktop-min) {
  .header-main {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;

    padding-top: 25px;

    width: auto;
    text-align: center;

    .header-text, img {
      display: inline-block;
    }

    .header-text {
      vertical-align: top;
      font-size: 3.4em;
      line-height: 1.9em;

      img.footprints {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
      }

      &.-left {
        padding-right: 15px;

        img.footprints {
          vertical-align: top;
          padding-top: 4px;
        }
      }
      &.-right {
        padding-left: 15px;

        img.footprints {
          vertical-align: bottom;
          margin-bottom: -13px;
        }
      }

      .extra-text {
        display: block;
        font-size: .5em;
        font-weight: 300;
        line-height: 0em;
      }
    }

    img {
      width: 150px;
      margin-top: -25px;
    }
  }

  div.embed {
    height: 540px;
  }

}

@media all and (max-width: @mobile-max) {
  .header-main {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;

    padding-top: 10px;

    width: auto;
    text-align: center;
    display: block;
    overflow: auto;

    .header-text, img {
      display: block;
    }

    img.footprints {
      display: none;
    }

    .header-text {
      vertical-align: top;
      font-size: 2.4em;
      line-height: 1.2em;
      float: left;

      .extra-text {
        display: block;
        font-size: .5em;
        font-weight: 300;
        line-height: 1em;
      }
    }

    img {
      width: 100px;
      margin-top: 5px;
      margin-right: auto;
      margin-left: auto;
      float: right;
    }
  }

  div.embed {
    height: 190px;
  }
}
