div.login, div.registration {

    height: 100%;
    margin-top: 0 !important;
    background-image: url("img/mountain-bg.jpeg") !important;
    background-size: cover !important;
    background-attachment: fixed !important;

    .column {
        max-width: 440px;
    }
}