body{
  font-family: 'Roboto', sans-serif;
}
.white-header{
  color:white;
}

div.login, div.register, div.password-reset, div.request-password-reset {

  min-height: 100%;
  margin-top: 0 !important;

  .column {
    max-width: 440px;
  }

  &.register > .column {
    max-width: 520px;
  }
}

.transparent-bg {
    background-color: rgba(255,255,255,.9) !important;
}

div.puzzle-page-title > .row > .column > h1 {
  padding: 15px 0px;

  small {
    font-size: .6em;
  }
}

div.buttons a.button {
  margin-top: 5px;
}

.ui.cards > .card > .content > .meta,
.ui.cards > .card > .content > .description {
  line-height: 1.7em;
  color: rgba(0, 0, 0, 0.8);
}

div.ui.styled.accordion {
  div.title {
    font-size: 1.5em;
  }

  div.content {
    font-size: 1.2em;
  }
}
